@import "_breakpoints.scss";
/*Imports important data from _breakpoints.scss, DO NOT CHANGE THAT FILE IF YOU DO NOT KNOW WHAT YOU'RE DOING*/

/* Variables, used to define different properties for WooCommerce
==============================================*/
$primary-color: rgb(0, 0, 0);
$headings-font: 'Playfair Display', serif;
$body-font: stolzl, sans-serif;
$mobile-padding: 16px;
$desktop-padding: 36px;

/* Main
==============================================*/

html { font-size: 62.5%; }

body {
    //margin: 0;
    font-size: 1.6rem;
    font-family: $body-font;
    font-weight: 300;
    font-style: normal;
    color: $primary-color;
    line-height: 3rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-family: $headings-font;
}

h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

h2 { font-size: 2.8rem; }

@include tablet-portrait {
    h1 { font-size: 6.5rem; }
    h2 { font-size: 4.5rem; }
} 

/* Links */
a:link {
    color: white;
    &:hover {
        color: rgb(255, 255, 255);
    }
}

.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link {
    color: white;
}

a:visited, a:active { color: $primary-color; }

/* Inputs */
input {
    border: none;
    background-image: none;
    background-color: grey;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 16px;
    box-sizing: border-box;
}


/* Layout Elements
==============================================*/

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;

    &__heading { 
        text-align: center;
        max-width: 600px;
        max-width: 100%;

        span {
            display: block;
            letter-spacing: 0.2rem;
            margin-bottom: 10px;
        }
    }

}


.button {
    display: inline-block;
    color: $primary-color;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    border: 2px solid $primary-color;

    @include tablet-portrait {
        font-size: 1.6rem;
    }
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: black;
  }

.button-white {
    background-color: #fff;
}

section, .content-area, main {
    margin: 80;
    padding: $mobile-padding;

    @include tablet-portrait {
        padding: $desktop-padding;
    }
}





/* Header
==============================================*/

.main-header {
    display: grid;
    gap: 10px;
    grid-template: 
    
    'nav logo tools';
    grid-template-columns: repeat(3, 1fr);
    padding: 18px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top:0; left: 0; right: 0;
    z-index: 1;

    a { text-decoration: none; font-weight: 400; }

    &__logo {
        grid-area: logo;
        font-size: 2.4rem;
        font-weight: 600;
        justify-self: center;
        align-self: center;
    }

    &__nav {
        grid-area: nav;
        justify-self: start;
        align-self: center;

        .menu { 
            display: none;
            padding: 0;
            list-style: none;
            align-items: center;

            .menu-item {
               display: inline-block;
                padding: 0 80px;

                &:hover .sub-menu {
                    display: block;
                }

            }
        }

        .menu-link {
            width: 2.4rem;
            height: 1.4rem;
            position: relative;

            span {
                position: absolute;
                left: 0; right: 0;
                display: block;
                height: 0.2rem;
                background-color: rgb(0, 0, 0);

                &:first-child { top: 0; }
                &:last-child { bottom: 0; }
            }
        }

        .sub-menu {
            display: none;
            padding: 0;
            position: absolute;
            background-color: #fff;
            min-width: 140px;
            z-index: 1;

            .menu-item {
                padding: 0;
                display: block;

                a {
                    text-decoration: none;
                    display: block;
                    padding: 0.6rem 1rem;

                    li {
                        padding: 0;
                        display: block;
                        text-align: center;
                    }

                    &:hover {
                        background-color: #ddd;
                    }
                }
            }

        }

        
    }


    &__tools {
        grid-area: tools;
        justify-self: end;
        align-self: center;

        .tools-icon {
            padding: 0.6rem;
        } 
    }


    @include tablet-portrait {
        grid-template: 
        'logo nav tools'
        ;
        background-color: rgb(255 255 255 / 32%);

        &__logo {
            justify-self: start;
        }

        &__nav {
            justify-self: center;

            .menu { display: block; }
            .menu-link { display: none; }
        }
    }
}

/* Top brands
==============================================*/
.top-brands {
justify-content: center;
display: inline;
}

.top-brandslist {
display: inline;
}

@media screen and (min-width: 650px) {
    .top-brands {
      display: none;
    }
  }

/* Mobile Menu
==============================================*/

.mobile-menu { 
    display: none;
    margin-top: 80px;

    .menu {
        padding: 0;
        list-style-type: none;

        a {
            padding: 0.6rem 1rem;
            display: block;
            text-align: center;
            text-decoration: none;
        }
    
        .menu-item {
            &:hover .sub-menu {
                display: block;
            }
        }
    }

    .sub-menu {
        display: none;
        padding: 0;
        background-color: #fff;
        min-width: 140px;
        z-index: 1;

        .menu-item {
            padding: 0;
            display: block;

            a {
                text-decoration: none;
                display: block;
                padding: 0.6rem 1rem;

                li {
                    padding: 0;
                    display: block;
                    text-align: center;
                }

                &:hover {
                    background-color: rgb(255, 255, 255);
                }
            }
        }

    }


}


/* Hero
==============================================*/
.hero {
    position: relative;

    &::after {
        content: "";

        //Bakgr
        background-image: url("../images/home.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 60%;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
    }

    &__wrapper {
        text-decoration: none;
        height: 32vh;
        display: grid;
        align-content: end;

        h1 {
            margin: 26px;
            padding-bottom: 20px;
        }
    }

    @include tablet-portrait {

        &__wrapper {
            height: 88vh;
            align-content: center;
        }
    }
}

/* Promo Card
==============================================*/
.standard-promo {
    display: grid;

    @include lg {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 450px;
        gap: 40px;

        .promo-card {
            display: grid;
            align-content: center;

            &__heading, &__body { max-width: 300px; text-align: center; }
            &__heading { margin: 0; }
            &__body { line-height: 3rem; }

            &--women, &--men {
                background-size: cover;
                background-position: right;
            }
        }
    }
}





/* Shop Section */
.shop-section {
    &__heading, &__body {
        text-align: center;
    }
}



/* Footer */

    @media screen and (min-width: 651px) {
        .footer {
            display: grid;
            gap: 20px;
        } 
    }


    @media screen and (max-width: 650px) {
        .footer {
          display: none;
        } 
    }

    @include tablet-portrait {
        grid-template-columns: repeat(4, 1fr)
    }

    &-container {
        &__heading {
            display: flex;
            justify-content: space-between;
        }

        &__body {
            display: none;
            list-style: none;
            margin: 0;
            padding: 0;

            a { 
                display: block;
                padding: 8px 0;
            }
        }

        @include tablet-portrait {

            &__body { display: block; }
            &__heading {
                justify-content: start;
                align-items: center;

                svg {
                    display: none;
                }
            }
        }
    }



/* CopyRight */
.copyright {
    margin-top: 20px;
    text-align: center;

    &__social {
        a { padding: 10px; }
    }
 
    &__body { margin: 40px 0; }
}


